body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: black;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
}

h1 {
  -webkit-text-fill-color: goldenrod;
}

#message {
  font-style: italic;
}

h1 {
  font-size: 500%;
}

p,
button {
  font-size: 300%;
}

img {
  size: 100%;
}
